form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}
input{
    margin-bottom: 30px;
    border-radius: 10px;
    border-style:dashed;
    height: 30px;
}
#enviar{
    background-color: rgb(1, 31, 39);
    color:aqua
}
#enviar:hover{
    background-color: rgb(66, 66, 66);
}