form {
    display:flex ;
    flex-direction: column;
    margin: auto;
}
input {
    padding: 30px;
    margin-bottom: 30px;
    border-color: chocolate;
    border-radius: 20px;
}
#input_subimit:hover {
    background-color:chocolate;
}
body {
    background-color:rgb(130, 63, 15);
}